<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body
        {
            /* background-image: url("https://img.freepik.com/premium-photo/online-shopping-background-generative-ai_90099-6883.jpg"); */
            background-image: url(https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=1060&t=st=1722779219~exp=1722779819~hmac=b0f7d1030acb7b96bc69e2023ce6e538354362200da9bb9096b4a43f6bc1e8ac);
            background-repeat: no-repeat;
            background-size: cover;
            /* width: 1000px;
            height: 1000px; */
        }
        .navbar li,a{
            display: inline;
            float: right;
           padding: 10px;
           
           text-decoration: none;
           font-size: 20px;

        }
        .head{
            font-size: 56px;
            letter-spacing: .02em;
            padding-top: 100px;
            padding-left: 180px;
            
        }
        .head1{
            font-size: 56px;
            letter-spacing: .02em;
            padding-left: 150px;
            
            
        }
    </style>
</head>
<body>
    <div>
   <ul class="navbar">
    <li><a href="logout">Log Out</a></li>
</ul>
</div>
<p class="head">
    <font color="#FF2626">O</font>
    <font color="#252A34">N</font>
    <font color="#753422">L</font>
    <font color="#FFD523">I</font>
    <font color="#71EFA3">N</font>
    <font color="#0F52BA">E</font>

</p> 
<p class="head1"> 
    <font color="#66CC66">S</font>
    <font color="#FF9966">H</font>
    <font color="#FFCCCC">O</font>
    <font color="#00C1D4">P</font>
    <font color="#EFE3D0">P</font>
    <font color="#FF2626">I</font>
    <font color="#753422">N</font>
    <font color="#71EFA3">G</font>
</p>

</body>
</html>